<div class="header">
  <div class="logo"><img src="../assets/images/Obs_logo.jpg" alt="OBS"></div>
  <!-- <div class="welcome">Welcome, {{username}} (Logged in at {{ loginTime }})</div> -->
  <div class="welcome">Welcome, {{username}}</div>
  <div class="links">
    <a *ngIf="roleName === 'Admin'" href="javascript:void(0);" (click)="openNewAccountForm()">New Account</a>
    <a (click)="viewUserProfileDetails()" href="javascript:void(0);">Profile Details</a>
    <div class="profile-details-popup" *ngIf="showProfileDetails">
      <p><b>Username:</b> {{ username }}</p>
      <p><b>Email:</b> {{ email }}</p>
      <p><b>phoneNumber:</b> {{ phoneNumber }}</p>
      <button (click)="logout()">Logout</button>
      <button (click)="hideProfileDetails()">Close</button>
    </div>

  </div>
</div>

<div class="tabs">
  <ul>

    <li (click)="selectTab('accounts')" [class.active]="currentTab === 'accounts'">Account Summary</li>
    <li (click)="selectTab('fundTransfer')" [class.active]="currentTab === 'fundTransfer'">Fund Transfer</li>
    <li (click)="selectTab('billPayRecharge')" [class.active]="currentTab === 'billPayRecharge'">BillPay & Recharge</li>
    <li (click)="selectTab('cards')" [class.active]="currentTab === 'cards'">Cards</li>
    <li (click)="selectTab('loans')" [class.active]="currentTab === 'loans'">Loans</li>


  </ul>

  <div class="tab-content">
    <div *ngIf="currentTab === 'accounts'">
      <h2>Account Details</h2>
      <div class="label-value-row" *ngFor="let account of accounts">
        <div class="row">
          <div class="label">Account Number</div>
          <div class="label">Branch</div>
          <div class="label">Name</div>
          <div class="label">Balance</div>
          <div class="label"></div> <!-- Empty div for spacing -->
        </div>

        <div class="row">
          <div class="value">{{ account.accountNumber }}</div>
          <div class="value">{{ account.branchName }}</div>
          <div class="value">{{ account.name }}</div>
          <div class="value">{{ account.balance }}</div>
          <div class="value">
            <button (click)="viewTransactionHistory()">View</button>
          </div>
        </div>
      </div>


      <div *ngIf="showHistory">
        <div class="label">Transaction History</div>
        <!-- <h2>Transaction History</h2> -->
        <table class="table table-bordered table-striped">
          <thead class="thead-light">
            <tr>
              <th>Trasaction Id</th>
              <th>Trasaction Type</th>
              <th>Transfer Type</th>
              <th>Transaction Amount</th>
              <th>Trasaction Date</th>
              <th>Account Number</th>
              <th>Comments</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let transaction of transactionHistory | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.mediumOfTrans }}</td>
              <td>{{ transaction.transType }}</td>
              <td>{{ transaction.transAmount }}</td>
              <td>{{ transaction.dot }}</td>
              <td>{{ transaction.accNumber }}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.balance }}</td>


            </tr>
          </tbody>
        </table>


        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

      </div>
    </div>

    <div class="tab-content">
      <div *ngIf="currentTab === 'fundTransfer'">
        <h2>Fund Transfer</h2>
        <div>
          <label>Select Transfer Type:</label>
          <select [(ngModel)]="selectedTransactionType" name="transactionType">
            <option value="" selected>Select Transfer Type</option>
            <option value="WithinTheBank">Within the Bank</option>
            <option value="NEFT">NEFT</option>
            <option value="RTGS">RTGS</option>
          </select>
        </div>

        <div *ngIf="selectedTransactionType">
          <!-- <h3>Fund Transfer Form</h3>    -->
          <form (submit)="transferMoney(transferForm)" #transferForm="ngForm">
            <div class="title">Fund Transfer</div>
            <div class="form-row">
              <div class="input-box">
                <label>Type of Account</label>
                <select [(ngModel)]="selectedAccountType" name="accountType" (change)="onAccountTypeChange()">
                  <option *ngFor="let accountType of accountTypes" [value]="accountType.accTypeName">
                    {{ accountType.accTypeName }}
                  </option>
                </select>
              </div>

              <div class="input-box">
                <label>From Account Number</label>
                <select [(ngModel)]="transfer.fromAccountNumber" name="fromAccountNumber">
                  <option *ngFor="let accountNumber of accountNumbers" [value]="accountNumber">
                    {{ accountNumber }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>To Account Number</label>
                <input type="text" name="toAccountNumber" [(ngModel)]="transfer.toAccountNumber" maxlength="8">
              </div>

              <div class="input-box">
                <label>Amount</label>
                <input type="number" name="amount" [(ngModel)]="transfer.amount">
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>Medium of Transaction</label>
                <input type="text" name="mediumOfTransaction" [(ngModel)]="selectedTransactionType" [disabled]="true">
              </div>

              <div class="input-box">
                <label>Comments</label>
                <textarea name="comments" [(ngModel)]="transfer.comments"></textarea>
              </div>
            </div>

            <div class="button">
              <input type="submit" [disabled]="transferForm.invalid" value="Transfer">
            </div>
            <div class="button">
              <input type="submit" (click)="clearForm(transferForm)" value="Cancel">
            </div>
          </form>
        </div>
      </div>
    </div>


    <div *ngIf="currentTab === 'billPayRecharge'">
      <h2>BillPay & Recharge</h2>
      <div>
        <label>Select Payment Type:</label>
        <select [(ngModel)]="selectedPaymentType" name="paymentType">
          <option value="" selected>Select payment Type</option>
          <option value="Credit">card payment</option>
          <option value="loan">Loan payment</option>
          <option value="Mobile Recharge">Mobile Recharge</option>
        </select>
      </div>

      <div *ngIf="selectedPaymentType === 'Credit'">
        <div class="loan-apply-form">
          <form (submit)="creditCardBill_Pay(creditPayform)" #creditPayform="ngForm">
            <div class="title">Pay Credit Card Bill</div>
            <div class="form-row">
    
              <div class="input-box">
                <label>Associated Account</label>
                <select [(ngModel)]="CreditCardPymt.associatedAccount" name="associatedAccount" required>
                  <option *ngFor="let account of accounts" [value]="account.accountNumber">
                    {{ account.accountNumber }}
                  </option>
                </select>
              </div>
    
              <div class="input-box">
                <label>Full Name</label>
                <input type="text" name="fullName" [(ngModel)]="CreditCardPymt.fullname" value=" {{username}}">
              </div>
            </div>
            <div class="form-row">
              <div class="input-box">
                <label>Credit Card Number</label>
                <input type="text" name="creditCardNumber" [(ngModel)]="CreditCardPymt.creditCardNumber" required>
              </div>
            </div>
            <div class="form-row">
              <div class="input-box">
                <label>Expiry Month</label>
                <select id="expMonth" name="expMonth" required min="0" max="12" [(ngModel)]="CreditCardPymt.expMonth" required>
                  <option value="" disabled selected>Select Month</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">January</option>
                  <option value="04">February</option>
                  <option value="05">January</option>
                  <option value="06">February</option>
                  <option value="07">January</option>
                  <option value="08">February</option>
                  <option value="09">January</option>
                  <option value="10">February</option>
                  <option value="11">January</option>
                  <option value="12">February</option>
                </select>
              </div>
              <div class="input-box">
                <label>Expiry Year</label>
                <select id="expYear" name="expYear" [(ngModel)]="CreditCardPymt.expYear" required>
                  <option value="" disabled selected>Select Year</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>CVV</label>
                <input type="number" name="cvv" [(ngModel)]="CreditCardPymt.cvv" pattern="[0-9]{3}" required>
              </div>
              <div class="input-box">
                <label>Outstanding Amount</label>
                <input type="number" name="amount" [(ngModel)]="CreditCardPymt.amount" required>
              </div>
            </div>
    
             <div class="button">
              <button type="submit" [disabled]="creditPayform.invalid">Pay Now</button>&nbsp;&nbsp;
              <button type="button" (click)="clearCreditCardPayForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>



      <div *ngIf="selectedPaymentType === 'Mobile Recharge'">
        <div class="container">
          <form (submit)="payNow(payform)" #payform="ngForm">
            <div class="title">Mobile Recharge</div>
            <div class="form-group">
              <label for="mobile_number">Mobile Number:</label>
              <input type="text" id="mobile_number" name="mobile_number" placeholder="Enter Mobile Number"
                [(ngModel)]="mobileNumber" required pattern="[0-9]{10}" maxlength="10" />
              <div *ngIf="payform.controls[' mobileNumber']?.invalid && payform.controls[' mobileNumber']?.touched"
                class="error-message">
                Mobile Number is required.
              </div>
            </div>
            <div class="form-group">
              <label for="recharge_amount">Recharge Amount:</label>
              <input type="text" id="recharge_amount" name="recharge_amount" placeholder="Enter Rechanrge Amount"
                [(ngModel)]="recharge_amount" required />
              <div *ngIf="payform.controls['recharge_amount']?.invalid && payform.controls[' recharge_amount']?.touched"
                class="error-message">
                Recharge amount is required.
              </div>
            </div>
            <button type="submit" class="btn">Pay Now</button>
          </form>
        </div>
      </div>

      <div *ngIf="selectedPaymentType === 'loan'">
        <div class="container">
          <form (submit)="loan_Pay(loanpayform)" #loanpayform="ngForm">
            <div class="title">Loan Payment</div>
            <label></label>
            <div class="form-group">
              <label for="loanNumber">Loan Number:</label>
              <input type="text" id="loanNumber" name="loanNumber" placeholder="Enter Loan Number"
                [(ngModel)]="loanNumber" required pattern="[0-9]{8}" maxlength="8" />
              <div *ngIf="loanpayform.controls['loanNumber']?.invalid && loanpayform.controls['loanNumber']?.touched"
                class="error-message">
                Loan Number is required.
              </div>
            </div>
            <div class="input-box">
              <label> Account Number</label>
              <select [(ngModel)]="loanApplication.associatedAccount" name="associatedAccount" required>
                <option *ngFor="let account of accounts" [value]="account.accountNumber">
                  {{ account.accountNumber }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="EmiAmount">EMI Amount:</label>
              <input type="text" id="EmiAmount" name="EmiAmount" placeholder="Enter Emi Amount"
                [(ngModel)]="EmiAmount" required />
              <div *ngIf="loanpayform.controls['EmiAmount']?.invalid && loanpayform.controls[' EmiAmount']?.touched"
                class="error-message">
                Emi amount is required.
              </div>
            </div>
            <button type="submit" class="btn">Pay Now</button>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="currentTab === 'cards'">
      <h2>Cards</h2>
      <div class="loan-apply-form">
        <form (submit)="applyForCreditCard(CreditCardApplyForm)" #CreditCardApplyForm="ngForm">
          <div class="title">Apply for a Credit Card</div>
          <div class="form-row">
  
            <div class="input-box">
              <label>Associated Account</label>
              <select [(ngModel)]="CreditCardApplication.associatedAccount" name="associatedAccount" required>
                <option *ngFor="let account of accounts" [value]="account.accountNumber">
                  {{ account.accountNumber }}
                </option>
              </select>
            </div>
  
            <div class="input-box">
              <label>Full Name</label>
              <input type="text" name="fullName" disabled="true" [(ngModel)]="CreditCardApplication.fullname" value=" {{username}}">
            </div>
          </div>
          <div class="form-row">
            <div class="input-box">
              <label>PAN</label>
              <input type="text" name="pan" [(ngModel)]="CreditCardApplication.pan" required>
            </div>
        
            <div class="input-box">
              <label>Monthly Income</label>
              <input type="number" name="income" [(ngModel)]="CreditCardApplication.income" required>
            </div>
          </div>
  
           <div class="button">
            <button type="submit" [disabled]="CreditCardApplyForm.invalid">Apply</button>&nbsp;&nbsp;
            <button type="button" (click)="clearCreditCardApplyForm()">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="currentTab === 'loans'">
      <h2>Loans</h2>
      <div>
        <label>Select Action Type:</label>
        <select [(ngModel)]="selectedLoanType" name="transactionType" (change)="onLoanTypeChange()">
          <option value="" selected>--Select--</option>
          <option value="applyLoan">Apply Loan</option>
          <option value="loanList">Loans List</option>
        </select>
      </div>

      <div *ngIf="selectedLoanType === 'applyLoan'">
        <!-- Loan Apply Form -->
        <div class="loan-apply-form">
          <form (submit)="applyForLoan(loanApplyForm)" #loanApplyForm="ngForm">
            <div class="title">Apply for a Loan</div>
            <div class="form-row">

              <div class="input-box">
                <label>Associated Account</label>
                <select [(ngModel)]="loanApplication.associatedAccount" name="associatedAccount" required>
                  <option *ngFor="let account of accounts" [value]="account.accountNumber">
                    {{ account.accountNumber }}
                  </option>
                </select>
              </div>

              <div class="input-box">
                <label>Loan Amount</label>
                <input type="number" name="loanAmount" [(ngModel)]="loanApplication.loanAmount" (input)="calculateEmi()"
                  required>
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>Interest Rate (%)</label>
                <input type="number" name="interestRate" [(ngModel)]="loanApplication.interestRate"
                  (input)="calculateEmi()" required>
              </div>

              <div class="input-box">
                <label>Term Length (In Years)</label>
                <input type="number" name="termLength" [(ngModel)]="loanApplication.termLength" (input)="calculateEmi()"
                  required>
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>EMI per Month</label>
                <input type="text" name="emiPerMonth" [(ngModel)]="loanApplication.emiPerMonth" [readonly]="true">
              </div>
            </div>

            <div class="button">
              <button type="submit" [disabled]="loanApplyForm.invalid">Apply</button>
              <button type="button" (click)="clearLoanApplyForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="selectedLoanType === 'loanList'">
        <div class="loan-list">
          <table class="table table-bordered table-striped">
            <thead class="thead-light">
              <tr>
                <th>Loan Number</th>
                <th>Loan Amount</th>
                <th>EMI(Per Month)</th>
                <th>Rate Of Interest</th>
                <th>Tenture</th>
                <th>Status</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loans of loanHistory | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                <td>{{ loans.loanId }}</td>
                <td>{{ loans.loanAmount }}</td>
                <td>{{ loans.loanEmi }}</td>
                <td>{{ loans.loanInterest }}</td>
                <td>{{ loans.laonTenure }}</td>
                <td>{{ loans.loanStatus }}</td>
                <!-- <td><button (click)="performLoanAction(loan)">Action</button></td> -->
                <td><button (click)=closeLoan(loans.loanId)>Close</button></td>



              </tr>
            </tbody>
          </table>


          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div>

    </div>
  </div>



  <app-footer></app-footer>