<div class="header">
  <div class="logo"><img src="../assets/images/Obs_logo.jpg" alt="OBS"></div>
  <!-- <div class="welcome">Welcome, {{username}} (Logged in at {{ loginTime }})</div> -->
  <div class="welcome">Welcome, {{username}}</div>
  <div class="links">
    <a *ngIf="roleName === 'Admin'" href="javascript:void(0);" (click)="openNewAccountForm()">New Account</a>
    <a (click)="viewUserProfileDetails()" href="javascript:void(0);">Profile Details</a>
    <div class="profile-details-popup" *ngIf="showProfileDetails">
      <p><b>Username:</b> {{ username }}</p>
      <p><b>Email:</b> {{ email }}</p>
      <p><b>phoneNumber:</b> {{ phoneNumber }}</p>
      <button (click)="logout()">Logout</button>
      <button (click)="hideProfileDetails()">Close</button>
    </div>

  </div>
</div>

<div class="tabs">
  <ul>

    <li (click)="selectTab('accounts')" [class.active]="currentTab === 'accounts'">Account Summary</li>
    <li (click)="selectTab('fundTransfer')" [class.active]="currentTab === 'fundTransfer'">Fund Transfer</li>
    <li (click)="selectTab('billPayRecharge')" [class.active]="currentTab === 'billPayRecharge'">BillPay & Recharge</li>
    <li (click)="selectTab('cards')" [class.active]="currentTab === 'cards'">Cards</li>
    <li (click)="selectTab('loans')" [class.active]="currentTab === 'loans'">Loans</li>


  </ul>

  <div class="tab-content">
    <div *ngIf="currentTab === 'accounts'">
      <h2>Account Details</h2>
      <div class="label-value-row" *ngFor="let account of accounts">
        <div class="row">
          <div class="label">Account Number</div>
          <div class="label">Branch</div>
          <div class="label">Name</div>
          <div class="label">Balance</div>
          <div class="label"></div> <!-- Empty div for spacing -->
        </div>

        <div class="row">
          <div class="value">{{ account.accountNumber }}</div>
          <div class="value">{{ account.branchName }}</div>
          <div class="value">{{ account.name }}</div>
          <div class="value">{{ account.balance }}</div>
          <div class="value">
            <button (click)="viewTransactionHistory()">View</button>
          </div>
        </div>
      </div>


      <div *ngIf="showHistory">
        <div class="label">Transaction History</div>
        <!-- <h2>Transaction History</h2> -->
        <table class="table table-bordered table-striped">
          <thead class="thead-light">
            <tr>
              <th>Trasaction Id</th>
              <th>Trasaction Type</th>
              <th>Transfer Type</th>
              <th>Transaction Amount</th>
              <th>Trasaction Date</th>
              <th>Account Number</th>
              <th>Comments</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let transaction of transactionHistory | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.mediumOfTrans }}</td>
              <td>{{ transaction.transType }}</td>
              <td>{{ transaction.transAmount }}</td>
              <td>{{ transaction.dot }}</td>
              <td>{{ transaction.accNumber }}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.balance }}</td>


            </tr>
          </tbody>
        </table>


        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

      </div>
    </div>

    <div class="tab-content">
      <div *ngIf="currentTab === 'fundTransfer'">
        <h2>Fund Transfer</h2>
        <div>
          <label>Select Transfer Type:</label>
          <select [(ngModel)]="selectedTransactionType" name="transactionType">
            <option value="" selected>Select Transfer Type</option>
            <option value="WithinTheBank">Within the Bank</option>
            <option value="NEFT">NEFT</option>
            <option value="RTGS">RTGS</option>
          </select>
        </div>

        <div *ngIf="selectedTransactionType">
          <!-- <h3>Fund Transfer Form</h3>    -->
          <form (submit)="transferMoney(transferForm)" #transferForm="ngForm">
            <div class="title">Fund Transfer</div>
            <div class="form-row">
              <div class="input-box">
                <label>Type of Account</label>
                <select [(ngModel)]="selectedAccountType" name="accountType" (change)="onAccountTypeChange()">
                  <option *ngFor="let accountType of accountTypes" [value]="accountType.accTypeName">
                    {{ accountType.accTypeName }}
                  </option>
                </select>
              </div>

              <div class="input-box">
                <label>From Account Number</label>
                <select [(ngModel)]="transfer.fromAccountNumber" name="fromAccountNumber">
                  <option *ngFor="let accountNumber of accountNumbers" [value]="accountNumber">
                    {{ accountNumber }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>To Account Number</label>
                <input type="text" name="toAccountNumber" [(ngModel)]="transfer.toAccountNumber" maxlength="8">
              </div>

              <div class="input-box">
                <label>Amount</label>
                <input type="number" name="amount" [(ngModel)]="transfer.amount">
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>Medium of Transaction</label>
                <input type="text" name="mediumOfTransaction" [(ngModel)]="selectedTransactionType" [disabled]="true">
              </div>

              <div class="input-box">
                <label>Comments</label>
                <textarea name="comments" [(ngModel)]="transfer.comments"></textarea>
              </div>
            </div>

            <div class="button">
              <input type="submit" [disabled]="transferForm.invalid" value="Transfer">
            </div>
            <div class="button">
              <input type="submit" (click)="clearForm(transferForm)" value="Cancel">
            </div>
          </form>
        </div>
      </div>
    </div>


    <div *ngIf="currentTab === 'billPayRecharge'">
      <h2>BillPay & Recharge</h2>
      <div>
        <label>Select Payment Type:</label>
        <select [(ngModel)]="selectedPaymentType" name="paymentType">
          <option value="" selected>Select payment Type</option>
          <option value="Credit">card payment</option>
          <option value="loan">Loan payment</option>
          <option value="Mobile Recharge">Mobile Recharge</option>
        </select>
      </div>

      <div *ngIf="selectedPaymentType === 'Credit'">
        <div class="container">
       
          <form (submit)="CreditCard_Pay(creditPayform)" #creditPayform="ngForm">
            <div class="title">Credit Card Payment</div>
            <div class="form-group">
              <label for="card_number">Card Number:</label>
              <input type="number" id="card_number" name="card_number" placeholder="Enter card number"
               [(ngModel)]="Card_Number" required pattern="[0-9]{10}">
              <div *ngIf="creditPayform.controls[' Card_Number']?.invalid && creditPayform.controls[' Card_Number']?.touched"
                class="error-message">
                Card Number Number is required (10 digits only).
              </div>
      
            </div>
            <div class="form-group">
              <label for="cardholder_name">Cardholder Name:</label>
              <input type="text" id="cardholder_name" name="cardholder_name" placeholder="Enter cardholder name"
                required />
            </div>
            <div class="form-group">
              <label for="expiration_month">Expiration Month:</label>
              <select id="expiration_month" name="expiration_month" required min="0" max="12">
                <option value="" disabled selected>Select Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <!-- Add other months here -->
              </select>
            </div>
            <div class="form-group">
              <label for="expiration_year">Expiration Year:</label>
              <select id="expiration_year" name="expiration_year" required>
                <option value="" disabled selected>Select Year</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2023</option>
                <option value="2026">2024</option>
                <option value="2027">2024</option>
                <!-- Add other years here -->
              </select>
            </div>
            <div class="form-group">
              <label for="cvv">CVV:</label>
              <input type="number" id="cvv" name="cvv" placeholder="Enter CVV"  
              [(ngModel)]="CVV" required pattern="[0-9]{3}">
              <div *ngIf="creditPayform.controls[' CVV']?.invalid && creditPayform.controls[' CVV']?.touched"
                class="error-message">
                CVV Number is required (3 digits only).
              </div>
            </div>
            <button type="submit" class="btn">Pay Now</button>
          </form>
        </div>
      </div>



      <div *ngIf="selectedPaymentType === 'Mobile Recharge'">
        <div class="container">
          <form (submit)="payNow(payform)" #payform="ngForm">
            <div class="title">Mobile Recharge</div>
            <div class="form-group">
              <label for="mobile_number">Mobile Number:</label>
              <input type="text" id="mobile_number" name="mobile_number" placeholder="Enter Mobile Number"
              [(ngModel)]="mobileNumber" required pattern="[0-9]{10}" maxlength="10"/>
                <div *ngIf="payform.controls[' mobileNumber']?.invalid && payform.controls[' mobileNumber']?.touched"
                class="error-message">
               Mobile Number is required.
              </div>
            </div>
            <div class="form-group">
              <label for="recharge_amount">Recharge Amount:</label>
              <input type="text" id="recharge_amount" name="recharge_amount" placeholder="Enter Rechanrge Amount"
              [(ngModel)]="recharge_amount" required />
                <div *ngIf="payform.controls['recharge_amount']?.invalid && payform.controls[' recharge_amount']?.touched"
                class="error-message">
                Recharge amount is required.
              </div>
            </div>
            <button type="submit" class="btn">Pay Now</button>
          </form>
        </div>
      </div>

      <div *ngIf="selectedPaymentType === 'loan'">
        <div class="container">
          <form (submit)="loan_Pay(loanpayform)" #loanpayform="ngForm">
            <div class="title">Loan Payment</div>
            <label></label>
            <div class="form-group">
              <label for="EMI_Number">Loan Number:</label>
              <input type="text" id="EMI_Number" name="EMI_Number" placeholder="Enter Loan Number"
              [(ngModel)]="EMI_Number" required pattern="[0-9]{10}" maxlength="10"/>
                <div *ngIf="loanpayform.controls['EMI_Number']?.invalid && loanpayform.controls['EMI_Number']?.touched"
                class="error-message">
               Loan Number is required.
              </div>
            </div>
            <div class="form-group">
              <label for="Loan_Amount">EMI Amount:</label>
              <input type="text" id="Loan_Amount" name="Loan_Amount" placeholder="Enter Emi Amount"
              [(ngModel)]="recharge_amount" required />
                <div *ngIf="loanpayform.controls['Loan_Amount']?.invalid && loanpayform.controls[' Loan_Amount']?.touched"
                class="error-message">
                Emi amount is required.
              </div>
            </div>
            <button type="submit" class="btn">Pay Now</button>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="currentTab === 'cards'">
      <h2>Cards</h2>
      <div>
        <h3>Active Cards:</h3>
        <!-- Display active cards and apply for new cards -->
      </div>
    </div>

    <div *ngIf="currentTab === 'loans'">
      <h2>Loans</h2>
      <div>
        <label>Select Action Type:</label>
        <select [(ngModel)]="selectedLoanType" name="transactionType">
          <option value="" selected>--Select--</option>
          <option value="applyLoan">Apply Loan</option>
          <option value="loanList">Loans List</option>
        </select>
      </div>

      <div *ngIf="selectedLoanType === 'applyLoan'">
        <!-- Loan Apply Form -->
        <div class="loan-apply-form">
          <form (submit)="applyForLoan(loanApplyForm)" #loanApplyForm="ngForm">
            <div class="title">Apply for a Loan</div>
            <div class="form-row">

              <div class="input-box">
                <label>Associated Account</label>
                <select [(ngModel)]="loanApplication.associatedAccount" name="associatedAccount" required>
                  <option *ngFor="let account of accounts" [value]="account.accountNumber">
                    {{ account.accountNumber }}
                  </option>
                </select>
              </div>

              <div class="input-box">
                <label>Loan Amount</label>
                <input type="number" name="loanAmount" [(ngModel)]="loanApplication.loanAmount" (input)="calculateEmi()"
                  required>
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>Interest Rate (%)</label>
                <input type="number" name="interestRate" [(ngModel)]="loanApplication.interestRate"
                  (input)="calculateEmi()" required>
              </div>

              <div class="input-box">
                <label>Term Length (In Years)</label>
                <input type="number" name="termLength" [(ngModel)]="loanApplication.termLength" (input)="calculateEmi()"
                  required>
              </div>
            </div>

            <div class="form-row">
              <div class="input-box">
                <label>EMI per Month</label>
                <input type="text" name="emiPerMonth" [(ngModel)]="loanApplication.emiPerMonth" [readonly]="true">
              </div>
            </div>

            <div class="button">
              <button type="submit" [disabled]="loanApplyForm.invalid">Apply</button>
              <button type="button" (click)="clearLoanApplyForm()">Cancel</button>
            </div>
          </form>
        </div>
</div>

<div *ngIf="selectedLoanType === 'loanList'">
  <div class="loan-list">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th>Loan Number</th>
          <th>Loan Amount</th>
          <th>EMI(Per Month)</th>
          <th>Rate Of Interest</th>
          <th>Tenture</th>
          <th>Status</th>
          <th>Action</th>
         
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let loan of loanHistory | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
          <td>{{ loan.loanId }}</td>
          <td>{{ loan.mediumOfTrans }}</td>
          <td>{{ loan.transType }}</td>
          <td>{{ loan.transAmount }}</td>
          <td>{{ loan.dot }}</td>
          <td>{{ loan.dot }}</td>
          <!-- <td><button (click)="performLoanAction(loan)">Action</button></td> -->
          <td><button (click)=clearLoanApplyForm()>Action</button></td>
          


        </tr>
      </tbody>
    </table>


    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>

    </div>
  </div>



<app-footer></app-footer>